<div class="" *ngIf="user">
  <div class="avatar placeholder">
    <div class="bg-neutral text-neutral-content w-32 rounded-full">
      <span class="text-6xl">{{ user.name[0] }}</span>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <h1 class="text-4xl font-semibold">{{ user.name + " " + user.surname }}</h1>
    <div class="flex flex-row gap-4">
      <button *ngIf="isLoggedInUser()" class="btn btn-secondary">
        Settings
      </button>
      <button
        *ngIf="isLoggedInUser()"
        class="btn btn-secondary"
        [routerLink]="['/users', user.email, 'edit']"
      >
        Edit Profile
      </button>
      <button
        *ngIf="!isLoggedInUser() && authState().userData?.role === 2"
        class="btn btn-secondary"
        onclick="my_modal_2.showModal()"
      >
        Update Role
      </button>
    </div>
  </div>
  <p *ngIf="user.bio && user.bio.length > 0" class="mt-1">{{ user.bio }}</p>
  <p
    *ngIf="!user.bio || user.bio.length == 0"
    class="mt-1 text-gray-500 italic"
  >
    No bio provided.
  </p>
  <h2 class="mt-6 text-2xl">User Info</h2>
  <div class="mt-3 px-2">
    <p class="badge badge-primary mr-2">Role</p>
    <p class="inline-block">{{ toHumanReadable(user.role) }}</p>
    <br />
    <p class="badge badge-primary mr-2">Email</p>
    <p class="inline-block">{{ user.email }}</p>
  </div>
  <div *ngIf="!isLoggedInUser() && authState().userData?.role !== 2">
    <h2 class="mt-6 text-2xl">Mutual courses</h2>
    <app-course-edition-list type="mutual" [userId]="user.id"></app-course-edition-list>
  </div>
  <div *ngIf="!isLoggedInUser() && authState().userData?.role === 2">
    <h2 class="mt-6 text-2xl">User courses</h2>
    <app-course-edition-list type="user" [userId]="user.id"></app-course-edition-list>
  </div>
</div>
<dialog id="my_modal_2" class="modal" #dialogElement>
  <form
    class="modal-box flex flex-col justify-center"
    (submit)="changeUserRole($event)"
  >
    <h1 class="text-xl font-semibold text-center">Select New Role</h1>
    <select
      class="select select-bordered block mx-auto mt-4 w-1/2"
      [formControl]="roleFormControl"
    >
      <option [value]="UserRole.Student">User</option>
      <option [value]="UserRole.Teacher">Teacher</option>
      <option [value]="UserRole.Admin">Admin</option>
    </select>
    <button
      *ngIf="!updateRoleLoading"
      type="submit"
      class="btn btn-primary mt-4 mx-auto"
    >
      Update Role
    </button>
    <button
      *ngIf="updateRoleLoading"
      type="submit"
      class="btn btn-primary mt-4 mx-auto"
    >
      <span class="loading loading-spinner">Loading...</span>
    </button>
  </form>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
