<div *ngIf="user" class="grid grid-cols-3 p-1 bg-base-200 border-b-[1px] border-white hover:bg-base-300 cursor-pointer">
  <div role="button" [ngClass]="{'avatar': true, 'placeholder': !user.photo}">
    <div class="w-8 rounded-full bg-neutral text-neutral-content mr-2">
      <img *ngIf="user.photo" alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      <span *ngIf="!user.photo" class="text">{{user.name[0]}}</span>
    </div>
    <h2 class="my-auto">{{user.name + " " + user.surname}}</h2>
  </div>
  <p class="my-auto">{{user.email}}</p>
  <p class="my-auto">{{user.role ?? "Student"}}</p>
</div>
