<div class="grid grid-cols-2">
  <button class="btn btn-sm ml-[calc(100%-32*4px)] btn-primary w-32 col-start-2" onclick="my_modal_2.showModal()">New Course</button>
</div>
  <dialog id="my_modal_2" class="modal">
    <form class="modal-box flex flex-col justify-center" (ngSubmit)="onSubmit()">
      <h3 class="font-bold text-xl">Create New Course</h3>
      <label class="block mt-2 text-lg">Title</label>
      <input class="input input-bordered block" [formControl]="titleFormControl"/>
      <label class="block mt-2 text-lg">Description</label>
      <textarea class="textarea textarea-bordered block" [formControl]="descriptionFormControl"></textarea>
      <label class="block mt-2 text-lg">Duration</label>
      <select class="select select-bordered block" [formControl]="durationFormControl">
        <option [value]="CourseDuration.OneSemester">One Semester</option>
        <option [value]="CourseDuration.TwoSemesters">Two Semesters</option>
      </select>
      <button class="btn btn-primary mt-4">Create</button>
    </form>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
