<div *ngIf="edition">
  <h1 class="text-4xl font-semibold">{{ edition.title }}</h1>
  <h2 class="text-lg">{{ edition.course.title }}</h2>
</div>
<div *ngIf="edition">
  <nav class="flex flex-row justify-between mt-10 pb-2 text-center">
    <div
      class="border-b-2 border-black w-full link link-hover pb-2"
      [routerLink]="['/editions', edition.id]"
      [routerLinkActive]="'border-primary link-primary'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="">Overview</a>
    </div>
    <div
      class="border-b-2 border-black w-full link link-hover pb-2"
      [routerLink]="['/editions', edition.id, 'board']"
      [routerLinkActive]="'border-primary link-primary'"
    >
      <a>Board</a>
    </div>
    <div
      class="border-b-2 border-black w-full link link-hover pb-2"
      [routerLink]="['/editions', edition.id, 'members']"
      [routerLinkActive]="'border-primary link-primary'"
    >
      <a>Members</a>
    </div>
    <div
      class="border-b-2 border-black w-full link link-hover pb-2"
      [routerLink]="['/editions', edition.id, 'grades']"
      [routerLinkActive]="'border-primary link-primary'"
    >
      <a>Grades</a>
    </div>
    <div
      class="border-b-2 border-black w-full link link-hover pb-2"
      [routerLink]="['/editions', edition.id, 'resources']"
      [routerLinkActive]="'border-primary link-primary'"
    >
      <a>Resources</a>
    </div>
    <div
      *ngIf="authState().userData!.role > 0"
      class="border-b-2 border-black w-full link link-hover pb-2"
      [routerLink]="['/editions', edition.id, 'settings']"
      [routerLinkActive]="'border-primary link-primary'"
    >
      <a>Settings</a>
    </div>
  </nav>
  <router-outlet
    *ngIf="
      edition && (edition.isUserRegistered || authState().userData?.role === 2)
    "
  ></router-outlet>
  <app-course-edition-register
    *ngIf="
      edition &&
      edition.isUserRegistered === false &&
      authState().userData?.role !== 2 &&
      edition.status === 1
    "
  />
</div>
