<app-header />

<main *ngIf="!authStateLoading()" class="mx-auto max-w-[1000px] p-4">
  <router-outlet></router-outlet>
</main>

<div *ngIf="authStateLoading()" class="flex items-center justify-center h-screen bg-gray-500 opacity-50">
  <span class="loading loading-spinner loading-lg"></span>
</div>
<div
  [ngClass]="{
    'alert text-white fixed w-[30rem] max-h-[7rem] left-[calc(50%-15rem)] z-99 transform duration-200 ease-in': true,
    '-bottom-28': alert().isVisible === false,
    'bottom-4': alert().isVisible,
    'bg-green-500': alert().type === 'success',
    'bg-yellow-500': alert().type === 'warning',
    'bg-sky-500': alert().type === 'info',
    'bg-red-500': alert().type === 'error'
  }"
  (click)="hideAlert()"
>
  <span>{{ alert().message }}</span>
</div>
