<h1 class="text-3xl text-center mt-10">Login</h1>
<form class="flex flex-col gap-4 mt-10" (submit)="login($event)">
  <div class="mx-auto">
    <label class="label" for="email">Email</label>
    <input
      class="input input-primary w-[24rem]"
      type="email"
      id="email"
      name="email"
      [formControl]="emailControl"
    />
    <label class="label" for="password">Password</label>
    <input
      class="input input-primary w-[24rem]"
      type="password"
      id="password"
      name="password"
      [formControl]="passwordControl"
    />
  </div>

  <div class="pt-4 mt-4 flex flex-row justify-center">
    <button class="btn btn-primary mx-auto min-w-24" type="submit">Login</button>
  </div>
    <p class="text-center">
      Don't have an account? <a class="link link-secondary link-hover" routerLink="/register">Register</a>
</form>
