<app-add-post
  *ngIf="
    courseEdition &&
    (courseEdition.settings.allowAllToPost || authState().userData!.role > 0)
  "
  [editionId]="courseEditionId"
  (contentAdded)="addContent($event)"
></app-add-post>
<div infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="0.8">
  <ul class="flex flex-col gap-4">
    <li *ngFor="let post of posts">
      <app-post (deleted)="handleDeletion($event)" [post]="post"></app-post>
    </li>
  </ul>
</div>
<div class="flex flex-row justify-center mt-20">
  <span *ngIf="isLoading" class="loading loading-lg mx-auto">Loading...</span>
</div>
