<app-course-details [course]="course$ | async"></app-course-details>
<h2 class="text-xl font-semibold mt-4">Course resources</h2>
<app-course-resources-list
  type="course"
  [id]="courseId"
></app-course-resources-list>
<div *ngIf="authState().userData?.role === 2" class="mt-4">
  <h2 class="text-xl font-semibold">Course editions</h2>
  <app-course-edition-list [course]="course$ | async"></app-course-edition-list>
</div>
<div *ngIf="authState().userData?.role !== 2" class="mt-4">
  <h2 class="text-xl font-semibold">My editions from this course</h2>
  <app-course-edition-list [course]="course$ | async" type="my-course"></app-course-edition-list>
  <h2 class="text-xl font-semibold">Open registrations from this course</h2>
  <app-course-edition-list [course]="course$ | async" type="open-registration-course"></app-course-edition-list>
</div>
