<ul
  [ngClass]="{
    'flex flex-col gap-5 mt-4': true,
    'mb-4': currentPage === totalPages,
  }"
>
  <li *ngFor="let comment of comments">
    <app-comment
      (deleted)="handleDeletion($event)"
      [comment]="comment"
      [editionId]="editionId"
    ></app-comment>
  </li>
  <div
    *ngIf="currentPage !== totalPages && totalPages !== 0"
    class="text-right pr-6"
  >
    <p (click)="getComments(currentPage + 1, 5)" class="text-xs cursor-pointer">
      Load more comments...
    </p>
  </div>
</ul>
<div *ngIf="isLoading" class="flex flex-row justify-center mt-4">
  <span class="loading loading-spinner">Loading...</span>
</div>
<br *ngIf="!isLoading" />
<app-add-comment
  (contentAdded)="addComment($event)"
  [postId]="postId"
  [editionId]="editionId"
></app-add-comment>
